* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: 100dvh; /* для мобильных */
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;

  background: #3e6da3;

  @media screen and (max-width: 1441px) {
    background-image: url('../src/assets/Background@2x.jpg');
    @media (-webkit-min-device-pixel-ratio: 2) {
      background-image: url('../src/assets/Background@2x.jpg');
    }
    background-size: auto;
  }

  @media screen and (min-width: 1442px) {
    background-image: url('../src/assets/Background@2x.jpg');
    @media (-webkit-min-device-pixel-ratio: 2) {
      background-image: url('../src/assets/Background@2x.jpg');
    }
    background-size: auto;
  }

  background-repeat: no-repeat;

  animation: rotateBackground 500ms linear 1ms;
}

main {
  display: flex;
  flex: 1;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  transition: color 250ms linear;
}

img {
  display: block;
  width: inherit;
  height: auto;
}

address {
  font-style: normal;
}

button {
  cursor: pointer;
  color: inherit;
}

select {
  color: inherit;
}
.icon {
  fill: none;
  stroke: black;
}
.modal-open {
  overflow: hidden;
  // padding-right: 15px;
}
